.content {
    margin-top: 80px;
    width: 80%;
    margin-left: 10%;
}

.todo-list-wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dialog-false {
    display: none;
}

