<div class="todo-container">
    <h2 class="done-{{todo.done}}">
        <label *ngIf="!inEdit" class="container">
            <input #checkbox type="checkbox" (change)="setDone(todo)">
            <span class="checkmark checked-{{checkbox.checked}}"></span>
            <span >{{ todo.title }}</span>
        </label>
        <input *ngIf="inEdit" #editField class="todo-edit-field" value="{{todo.title}}" (keyup.enter)="changeTodoTitle(editField.value)">
    </h2>
    <div class="remove-button" (click)="removeTodo(todo.id)"><i class="fa-solid fa-trash"></i></div>
    <div class="edit-button" (click)="setInEdit(true)"><i class="fa-solid fa-pen"></i></div>
</div>
